.orderComplete{
    position: fixed;
    z-index: 999;
    @media screen and (min-width:768px){
        width: 33.75rem;
        .orderInfo{
            >div:first-child{
                width: 27.75rem;
                >div:first-of-type{
                    flex-direction: row;
                    width: 12.375rem;
                }
            }
            >div:last-child{
                width: 12.375rem;
                position: absolute;
                border-radius: 0rem 0.5rem 0.5rem 0rem;
                padding-left: 2rem;
            }
        }
    }
    @media screen and (max-width:767px) {
        width: 20.4375rem;
        .orderInfo{
            >div:first-child{
                width: 100%;
                >div:first-of-type{
                    flex-direction: row;
                }
            }
            >div:last-child{
                width: 100%;
                position: relative;
                border-radius: 0px 0px 8px 8px;
                padding-left: 1.5rem;
                padding-top: 1rem;
                padding-bottom: 1.2rem;
            }
        }
    }
    padding: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > div{
        h3{
            text-wrap: balance;
            margin-top: 2rem;
            margin-bottom: 1.5rem;
        }
        > p{
            opacity: 0.5;
        }
        button{
            width: 100%;
        }
    }
    .orderInfo{
        margin-top: 2rem;
        margin-bottom: 2.88rem;
        position: relative;
        >div:first-child{
            display: flex;
            flex-direction: column;
            background: #F1F1F1;
            border-radius: 0.5rem;
            padding: 1.5rem;
            height:100%;
            > div:first-of-type{
                display: flex;
              //  height: 3.125rem;
                justify-content: space-between;
                > div{
                    display: flex;
                    flex-direction: column;
                    &:first-of-type{
                        > p:first-child{
                            opacity: 1;
                        }
                        > p:last-child{
                            font-size: 0.875rem;
                        }
                    }
                }   
            }      
            >div.more{
                padding-top: .75rem;
                margin-top: .75rem;
                border-top: 0.0625rem solid rgba(0,0,0,0.08);
                width: 12.375rem;
                text-align: center;
                p{
                    font-size: 0.75rem;
                    line-height: normal;
                    letter-spacing: -0.01338rem;
                }
            }       
            p{
                font-weight: 700;
                opacity: 0.5;
            }
            img{
                width: 3.125rem;
                height: 3.125rem;
                margin-right: 1rem;
            }
        }
        >div:last-child{
            height:100%;
            background: #000;
            top: 0;
            right: 0;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            gap:0.5rem;
            p{
                color:#FFF;
                &:first-of-type{
                    opacity: 0.5;
                }
                &:last-of-type{
                    font-size: 1.125rem;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }
    }
}