.product{
    width: 100%;
    &::before{
        content:'';
        display: block;
        background-color: #000;
        height: 6.0625rem;
        width: 100%;
    }
    > div{
        margin-top: 5rem;
        > span{
            color: #000;
            opacity: 0.5;
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5625rem;
            cursor: pointer;
        }
        .productContainer{
            margin-top:3.5rem;
            margin-bottom: 10rem;
        }
        .productFeatures{
            display: flex;
            @media screen and (min-width:1025px) {
                margin-top:10rem;
                p{
                 max-width: 39.6875rem;
                }
                >div:first-child{
                    margin-right: 7.81rem;
                }
                ul{
                    margin-top:2rem;
                }
            }
            @media screen and (max-width:1024px) {
                margin-top:7.5rem;
                flex-direction: column;
                >div:last-child{
                    margin-top: 7.5rem;
                    display: flex;
                    justify-content: space-between;
                    h3,ul{
                        width: 50%;
                    }
                }
            }
            @media screen and (max-width:768px){
                margin-top: 5.5rem;
                >div:last-child{
                    margin-top: 5.5rem;
                    flex-direction: column;
                    ul{
                        width: 100%;
                        margin-top: 1.5rem;
                    }
                }
            }
            p{
                margin-top:2rem;
                opacity: 0.5;
                width: 100%;
            }
            
        }
        ul{
            list-style-type: none;
            li{
                font-size: 0.9375rem;
                font-style: normal;
                line-height: 1.5625rem;
                margin: 0.25rem 0;
                .quantity{
                    color:#D87D4A;
                    font-weight: 700;
                    width: 3rem;
                    display: inline-block;
                }
                .listItem{
                    font-weight: 500;
                    opacity: 0.5;
                }
            }
        }
        .productGallery{
            display: flex;
            height: 37rem;
            
            @media screen and (min-width:1025px) {
                margin-top:10rem;
                gap:2rem;
                .productGalleryLeft{
                    gap:2rem;
                    width: calc(27.8125rem / 69.375rem) * 100%;
                }
                .productGalleryRight{
                    width: calc(39.6875rem / 69.375rem) * 100%; 
                }
            }
            @media screen and (max-width:1024px) {
                margin-top:7.5rem;
                 gap:1.5rem;
                .productGalleryLeft{
                    gap:1.5rem;
                    width: calc(17.3125rem / 43.125rem) * 100%;
                }
                .productGalleryRight{
                    width: calc(24.6875rem / 43.125rem) * 100%; 
                }
            }
            @media screen and (max-width:768px){
                margin-top:5.5rem;
                flex-flow: wrap;
                width: 100%;
                height: 47.25rem;
                gap:1.25rem;
                .productGalleryLeft{
                    width: 100%;
                    gap:1.25rem;
                    >div{
                        width: 100%;
                    }
                }
                .productGalleryRight{
                    width: 100%;
                }
            }
            .productGalleryLeft div, .productGalleryRight{
                background-size: cover;
                background-position: center;
            }
            .productGalleryLeft{
                display: flex;
                flex-direction: column;
                height: auto;
                div{
                    height: 50%;
                    width: 100%;
                    border-radius: 0.5rem;
                }
            }
            .productGalleryRight{
                border-radius: 0.5rem;
            }
        }
    }
}