.main{
    width: 100%;


    @media screen and (max-width:768px) {
    &::before{
        content:'';
        display: block;
        background-color: #000;
        height: 6.0625rem;
        width: 100%;
    }
    }
    .hero{
        background: #101010;
        overflow: hidden;
        > div{
            display: flex;
        }
        h1{
            color:white;
        }
        p{
            color:rgba(255,255,255,0.75)
        }
        span{
            color:rgba(255,255,255,0.5)
        }
        @media screen and (min-width:769px) {
            height: 45.5625rem;
            .heroImgMobile{
                display: none;
            }
            .heroTitle{
                margin-top: 14rem;
            }
            button{
                margin-top:2.5rem;
            }
        }
        @media screen and (max-width:768px) {
            height: 40rem;
            > div{
                justify-content: center;
                align-items: center;
            }
            .heroImg{
                display: none;
            }
            .heroImgMobile{
                background-image: url('/assets/home/desktop/image-hero.png');
                width: 100%;
                height: 100%;
                position: absolute;
                top: 5%;
                left: 0;
                background-size: 110%;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.5;
            }
            .heroTitle{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            button{
                margin-top:3.44rem;
            }
        }
        @media screen and (min-width:376px) {
            .heroTitle{
                width: 24.875rem;
            }
        }
        @media screen and (max-width:375px) {
            .heroTitle{
                width: 100%;
            }
            button{
                margin-top:2.69rem;
            }
        }
        .heroTitle{
            height: 21.625rem;
            z-index: 1;
            h1{
                margin:1.5rem 0;
            }
            p{
                width: 21.8125rem;
            }
        }
        .heroImg{
            width: 44.3rem;
            height: 55.375rem;
            background-color: #101010;
            background-image: url('/assets/home/desktop/image-hero.png');
            position: absolute;
            background-size: contain;
            right:0;
            top:0rem;
        }
    }
}
.products{
   // height: 246.875rem;
    background: #FAFAFA;
    @media screen and (min-width:769px) {
        padding-top:7.5rem;
    }
    @media screen and (max-width:768px) {
        padding-top:3.5rem;
    }
}

.productsContainer{
    width: 100%;
    margin-top:7.5rem;
   @media screen and (max-width:850px) {
    margin-top:4.38rem;
   }

   .productOne, .productTwo, .productThree{
        margin-top: 3rem;
        width: 100%;
        border-radius: 0.5rem;
        display: flex;
   }
    .productOne{
        background: #D87D4A;
        overflow: hidden;
        position: relative;
        @media screen and (min-width: 1025px) {
            > div{
                width: 50%;
            }

            .productTitle{
                width: 21.8125rem;
                margin: 8.31rem 5.94rem 7.75rem 8.64rem;
                z-index: 1;
            }

            .producOneImage{
                img{
                    max-width: 25.63963rem;
                    width: 100%;
                    bottom:-1rem;
                    left:calc(6rem / 25rem) * 100%;
                }           
            }
            .circleAnimation{
                top: 79%;
                left: -12%;
                width: calc((59rem / 69.375rem) * 100%);
                height: 0;
                padding-bottom: calc((59rem / 69.375rem) * 100%);
            }
        }
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            .productTitle{
                width: 21.8125rem;
                margin-bottom: 4rem;
                text-align: center;
                z-index: 1;
            }

            .producOneImage{
                width: 100%;
                img{
                    max-width: 12.32575rem;
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 4rem;
                }           
            }
            .circleAnimation{
                top: 11.5rem;
                left: 50%;
                transform: translateX(-50%);
                width: calc((59rem / 43.0625rem) * 100%);
                height: 0;
                padding-bottom: calc((59rem / 43.0625rem) * 100%);;
                
              
            }
        }

        @media screen and (max-width: 375px) {
            .productTitle{
                width: 17.5rem;
                margin-bottom: 3.44rem;
                z-index: 1;
            }
            .producOneImage{
                img{
                    max-width: 10.7655rem;
                }           
            }
        }
       
        .producOneImage{
            position: relative;
            img{
                position: absolute;
            }           
        }
        h1{
            color:white;
        }
        p{
            color:rgba(255,255,255,0.75);
            margin: 1.5rem 0 2.5rem;
        }
        .circleAnimation{
            position:absolute;
            display: flex;
            justify-content: center;
            align-items: center;        
            span{
                position: absolute;
                border: 1px solid #FFF;
                opacity: 0.25;
            }
            span:nth-child(1){
                width: calc((29.5rem / 59rem) * 100%);
                height: calc((29.5rem / 59rem) * 100%);
                border-radius:  calc((29.5rem / 59rem) * 100%);;
            }
            span:nth-child(2){
                width: calc((33.875rem / 59rem) * 100%);
                height: calc((33.875rem / 59rem) * 100%);
                border-radius: calc((33.875rem / 59rem) * 100%);
            }
            span:nth-child(3){
                width: calc((59rem / 59rem) * 100%);
                height:calc((59rem / 59rem) * 100%);
                border-radius:calc((59rem / 59rem) * 100%);                
            }
        }
    }
    .productTwo{
        @media screen and (min-width:769px) {
            padding-left: 7.88rem;
        }
        @media screen and (max-width:768px) {
            padding-left: 3.89rem;
        }
        @media screen and (max-width:375px) {
            padding-left: 2rem;
        }
        align-items: center;
        justify-content: flex-start;
        background-color: #F1F1F1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/home/desktop/image-speaker-zx7.jpg');
        h4{
            margin-bottom: 2rem;
        }
    }
    .productThree{
        align-items: center;        
        gap:1.88rem;
        @media screen and (min-width:1024px) {
            div:last-child{
                padding-left:6rem;
            }
        }
        @media screen and (min-width:769px) {
            > div{
                width: 50%;
            }
            div:last-child{
                padding-left:2rem;
            }
        }
        @media screen and (max-width:768px) {
            flex-direction: column;
            > div{
                width: 100%;
            }
            div:first-child{
                height: 12.5rem;
            }
            div:last-child{
                padding:1.5rem;
                height: 12.5rem;

            }
        }
        > div{
            height: inherit;
            background-color: #F1F1F1;
            border-radius: 0.5rem;
        }
        div:first-child{
            background-position: center;
            background-size: cover;
            background-image: url('/assets/home/desktop/image-earphones-yx1.jpg');
        }
        div:last-child{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        h4{
            margin-bottom: 2rem;
        }
    }
    .productTwo, .productThree{
        height: 20rem;
    }
    @media screen and (min-width:1025px) {
        .productOne{
            height: 35rem;
        }
       
    }
    @media screen and (max-width:1024px) {
        .productOne{
            height: 45rem;
        }
        .productThree{
            height: 26.5rem;

        }
    }
    @media screen and (max-width:375px) {
        .productOne{
            height: 37.5rem;
        }
    }
}